<div class="container mt-5 p-3 rounded cart" *ngIf="cart">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="product-details mr-2">
        <div class="d-flex flex-row align-items-center" (click)="backToShop()">
          <div *ngIf="isCheckOut">
            <i class="fa fa-long-arrow-left"></i><span class="ml-2">Continue Shopping</span>
          </div>
        </div>
        <hr>
        <h6 class="mb-0">Shopping cart</h6>
        <div class="d-flex flex-row align-items-center">
          <span class="text-black-50">Sort by:</span>
          <div class="price ml-2">
            <span class="mr-1">price</span><i class="fa fa-angle-down"></i>
          </div>
        </div>
      </div>
      <div>
        <input type="text" class="form-control" [(ngModel)]="searchTerm">
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded"
           *ngFor="let p of cart.products | keyvalue | highlight: searchTerm; let i = index">
        <div class="d-flex flex-row">
          <img class="rounded" [src]="p.value.product.image" width="70"/>
          <div class="ml-2">
            <span class="font-weight-bold d-block" [innerHTML]="p.value.product.name"></span><span
            class="spec">Qountity</span>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center">
          <span class="d-block">({{ p.value.quantity }})</span><span
          class="d-block ml-2 font-weight-bold">{{p.value.product.price}}$</span>
          <i class="fa fa-trash-o ml-2 text-black-50 "
             *ngIf="!isCheckOut"
             (click)="removeProduct(p.value.product)"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <hr class="line"/>
    <div class="d-flex justify-content-between information">
      <span>Total</span><span>{{ cart.total | currency }}</span>
    </div>
    <button
      class="btn btn-warning btn-block d-flex justify-content-between mt-3"
      type="button"
      *ngIf="!isCheckOut"
      (click)="checkoutClick()"
    >
      <span>Checkout<i class="fa fa-long-arrow-right"></i></span>
    </button>
  </div>
</div>
